.dropdown-menu {
    position: absolute;
    /* top: 100%; */
    right:1%;
    background-color: #efeded;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 400px;
    margin-top: 4rem;
    display: none; 
    font-size: 14px;/* Hidden by default */
  }
  
  .dropdown-item {
    padding: 10px 16px;
   


  }
  
  .dropdown-link {
    color: black;
    text-decoration: none;
    display: block;


  
    transition: all ease 0.5s;
  
  }
  
  .dropdown-link:hover {
    color: #C7A532;
    transform: scale(1.03);

   
  }
  
  /* Show the dropdown menu when the parent is hovered */
  .navbar-list > li:hover .dropdown-menu {
    display: block;
 
  }
